<?xml version="1.0"?>
<!--
/**
 * Tourmix Shipping
 *
 * @copyright   Copyright (c) 2024 Tourmix (https://tourmix.delivery/)
 * @author      Vadym Drobko <vdrob17@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <tourmix_shipping>
                <active>0</active>
                <sandbox_mode>1</sandbox_mode>
                <title>Tourmix házhozszállítás</title>
                <model>Tourmix\Shipping\Model\Carrier\TourmixShipping</model>
                <shipping_price>1500</shipping_price>
            </tourmix_shipping>
        </carriers>
    </default>
</config>
